/*
 * Styles for the frontend
 */

* {
  margin: 0;
  /* overflow: hidden; */
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-size: 23px;
}

body {
  overflow: hidden;
}

.warning {
  color: red;
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.sideBar {
  width: 15%;
  height: 100vh;
  background-color: #363636;
  padding: 10px;
  position: absolute;
  transition: left 0.5s ease;
  min-width: 300px;
  max-height: 100vh;
}

.sideBarToggleButton {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  height: 40px;
  width: 30px;
  background-color: inherit;
  color: white;
  border: none;
  cursor: pointer;
  transition: left 0.4s ease;
  z-index: 2;
}

.link:hover {
  color: #c000c3;
  transition: 0.2s;
  cursor: pointer;
}

.infoPanel {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  width: 100%;
  height: auto;
  gap: 0;
}

.infoPanel > div {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
}

.infoPanel > div > span {
  font-weight: bold;
  font-size: 18px;
  color: rgb(189, 188, 188);
}

.infoPanel > div:not(:last-child) {
  border-right: 3px solid rgb(75, 75, 75);
}

.infoBarGrid {
  font-size: 16px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px 5px;
  width: 90%;
  height: 70%;
  margin: 10px auto 0 auto;
}

.infoBarGrid > div {
  display: grid;
  text-align: center;
  align-items: center;
}

.infoBarGrid > div > span:nth-child(1) {
  font-weight: bold;
  display: inline-block;
}

.infoBarGrid > div > span:nth-child(2) {
  color: red
}

.logContainer {
  border-radius: 5px;
  overflow-y: scroll;
  height: 90%;
  width: 95%;
  margin: 0 auto;
  background-color: #1e1e1e;
}

.logContainer > p {
  font-size: 13px;
  padding: 5px;
  text-align: left;
}

.logContainer > p:first-child {
  padding-top: 10px;
}

.fsBtn {
  padding: 5px 10px;
  font-size: 14px;
}

.fsBtn:hover {
  background-color: #00c01a !important;
}

.interface {
  margin: 0 auto;
  width: 100%;
  height: 95%;
  padding: 10px;
  font-family: Inter;
  display: flex;
  justify-content: space-evenly;
}

.controls {
  width: 50%;
  font-size: 15px;
}

fieldset legend {
  text-align: left;
}

.display {
  width: 45%;
  margin-top: 50px;
}

.exposure-controls label {
  display:block;
  margin: 8px;
}

.exposure-controls input {
  margin-left: 4px;
}

.ImageTypeSelector {
  text-align: middle;
  border: 1px solid black;
}

.Status label{
  text-align: left;
  display: inline-block;
  margin: 4px 4px 10px 4px;
}

.statusMessage {
  display: block;
  margin: 10px 0;
}

.Temperature label{
  text-align: center;
  display: inline-block;
  margin: 4px 4px 10px 4px;
}

.Temperature button {
  width: 37px;
  margin-left: 10px;
}

.Temperature input {
  display: inline-block;
  width: 26px;
  padding-right: 25px;
  margin: 10px 0px 0 10px;
}

.Temperature input[type="text"]::placeholder {
  text-align: right;
}

.tempCelsiusIcon {
  position: relative;
  color: black;
}

.tempCelsiusIcon::before {
  font-size: 14px;
  font-weight: bold;
  z-index: 999;
  position: absolute;
  top: 2px;
  left: 46px;
  content: "°C";
}

.tempMessage {
  display: block;
  margin: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.logo {
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 15px;
  margin: 3%;
}

.logoContainer {
  width: 30%;
  float: left;
}

.observatoryTitle {
  width: 68%;
  float: right;
  font-weight: bold;
  font-size: 25px;
  margin-top: 3%;
  text-align: left;
}

.lineBreak {
  width: 100%; 
  margin-top: 100px;
}

.sideBarLinkContainer {
  height: 80%;
  font-weight: bold;
  float: left;
  text-align: left;
  padding: 20px 0 0 20px;
}

.sideBarLink {
  margin: 10px 0;
  padding: 0 20px;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
}

.sideBarLinkIcon {
  margin-right: 10px;
  align-items: center;
  display: flex;
  font-size: 25px;
}

.sideBarLinkContainer h3:nth-child(2) {
  margin-top: 50px;
}

.mainContainer {
  text-align: center;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: width 0.5s ease;
}

.mainPanel {
  width: 97.5%;
  background-color: #363636;
  border-radius: 10px;
  margin-top: 20px;
  overflow-y: auto;
  overflow-x: hidden;
}

.infoPanel {
  height: 20vh;
  width: 97.5%;
  background-color: #363636;
  border-radius: 10px;
  margin-top: 10px;
}

.infoPanel > div {
  overflow-y: auto;
}

.weather-info > p:first-child {
  padding-top: 10px;
}

.weather-info > p {
  font-size: 16px;
  margin-top: 10px;
}

.weather-info > p > span {
  font-weight: bold;
}

.blink {
  margin-top: 20px;
  animation: blinker 2s linear infinite;
}

.timerOutside {
  margin: 20px auto;
  width: 20%;
  background-color: #e0e0de;
  border-radius: 20px;
  overflow: hidden;
}

.timerInside {
  background-color: #01be00;
  height: 12px;
  border-radius: 8px;
  transition: width 1s ease;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

body {
  /* background: linear-gradient(45deg, rgb(78, 76, 160) 5%, rgb(35, 17, 65) 20%, rgb(53, 32, 90) 50%, rgb(35, 17, 65) 80%, rgb(78, 76, 160) 95%); */
  background: #0a0a0a;
  color: white;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding-bottom: 8vh;
}

.display div {
  margin: auto;
}

fieldset.filter > label,button  {
  margin-left: 10px;
  border-radius: 5px;
}

fieldset {
  border: 1px solid #333;
  border-radius: 8px;
  padding:12px;
  background-color: #1e1e1e;
}
.graphContainer {
  width: 80%;
  margin: 0 auto;
}

.tempGraphOFF {
  font-weight: 600;
  color: white;
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
  width: 80px !important;
  background-color: rgb(14, 184, 25);
  border: 3px solid black;
}

.tempGraphON {
  font-weight: 600;
  color: white;
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
  width: 90px !important;
  background-color: rgb(214, 0, 0);
  border: 3px solid black;
}

.indeterminate-progress-bar {
  background-color: #d1d5db;
  border-radius: 9999px;
  height: 0.5rem;
  position: relative;
  overflow: hidden;
}

.indeterminate-progress-bar__progress {
  background-color: #3b82f6;
  border-radius: 9999px;
  position: absolute;
  bottom: 0;
  top: 0;
  width: 50%;

  /* Move the bar infinitely */
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: indeterminate-progress-bar;
}

@keyframes indeterminate-progress-bar {
  from {
      left: -50%;
  }
  to {
      left: 100%;
  }
}

@keyframes smoothProgress {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.framing input {
  margin: 15px 10px;
}

.framing button {
  margin-top: 10px;
}

.focus input {
  margin: 20px 15px;
}

.focus button {
  margin-top: 10px;
}

.focus label {
  margin-left: 10px;
}

.framing, .focus {
  padding: 20px;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield; /* Firefox */
}

.exposureNumberField {
  width: 52px;
}

.headerCommentField {
  width: 300px;
  max-width: 30%;
}

.onoff {
  background-color: #333;
  color: #e0e0e0;
  padding: 10px 10px;
  border:none;
  transition: background-color 0.3s, color 0.3s;
}

button:hover:enabled {
  background-color: #444;
}

.stat_button {
  background-color: #333;
  color: #e0e0e0;
  padding: 10px 10px;
  border:none;
  transition: opacity 0.3s, color 0.3s;
  font-family: Inter;
}

.custom-radio {
  margin: 2px;
}

.custom-radio span {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  border-radius: 6px;
  margin: 3px;
  color: #e0e0e0;
  transition: background-color 0.3s, color 0.3s;
  font-family: Inter;
}

.custom-radio input[type="radio"] {
  display: none;
}

.custom-radio input[type="radio"]:checked + span {
  background-color: #4CAF50;
  color: white;
}

.custom-radio input[type="radio"]:disabled + span, button:disabled {
  background-color: #555;
  cursor: not-allowed;
  color: #888;
}

.custom-radio span:hover {
  background-color: #444;
}

.filter-button {
  background-color: #333;
  color: #e0e0e0;
  padding: 11.5px 10px;
  border:none;
  transition: opacity 0.3s, color 0.3s;
  font-family: Inter;
}

.temp-set {
  background-color: #333;
  color: #e0e0e0;
  padding: 5px 5px;
  border:none;
  transition: opacity 0.3s, color 0.3s;
  font-family: Inter;
}
