/*
 * General styles for the layout
 */

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.mainContainer {
  text-align: center;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: width 0.5s ease;
}

.mainPanel {
  width: 97.5%;
  background-color: #363636;
  border-radius: 10px;
  margin-top: 20px;
  overflow-y: auto;
  overflow-x: hidden;
}

.sideBar {
  width: 15%;
  height: 100vh;
  background-color: #363636;
  padding: 10px;
  position: absolute;
  transition: left 0.5s ease;
  min-width: 300px;
  max-height: 100vh;
}

.sideBarToggleButton {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  height: 40px;
  width: 30px;
  background-color: inherit;
  color: white;
  border: none;
  cursor: pointer;
  transition: left 0.4s ease;
  z-index: 2;
}

.sideBarLinkContainer {
  height: 80%;
  font-weight: bold;
  float: left;
  text-align: left;
  padding: 20px 0 0 20px;
}

.sideBarLink {
  margin: 10px 0;
  padding: 0 20px;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
}

.sideBarLinkIcon {
  margin-right: 10px;
  align-items: center;
  display: flex;
  font-size: 25px;
}

.sideBarLinkContainer h3:nth-child(2) {
  margin-top: 50px;
}

.link:hover {
  color: #c000c3;
  transition: 0.2s;
  cursor: pointer;
}

.infoPanel {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  width: 100%;
  height: auto;
  gap: 0;
}

.infoPanel > div {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
}

.infoPanel > div > span {
  font-weight: bold;
  font-size: 18px;
  color: rgb(189, 188, 188);
}

.infoPanel > div:not(:last-child) {
  border-right: 3px solid rgb(75, 75, 75);
}

.infoBarGrid {
  font-size: 16px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px 5px;
  width: 90%;
  height: 70%;
  margin: 10px auto 0 auto;
}

.infoBarGrid > div {
  display: grid;
  text-align: center;
  align-items: center;
}

.infoBarGrid > div > span:nth-child(1) {
  font-weight: bold;
  display: inline-block;
}

.infoBarGrid > div > span:nth-child(2) {
  font-weight: bold;
  color: red;
}

.logo {
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 15px;
  margin: 3%;
}

.logoContainer {
  width: 30%;
  float: left;
}

.observatoryTitle {
  width: 68%;
  float: right;
  font-weight: bold;
  font-size: 25px;
  margin-top: 3%;
  text-align: left;
}

.lineBreak {
  width: 100%; 
  margin-top: 100px;
}

.infoPanel {
  height: 20vh;
  width: 97.5%;
  background-color: #363636;
  border-radius: 10px;
  margin-top: 10px;
}

.infoPanel > div {
  overflow-y: auto;
}